<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  autoReload="true">
	<variable name="appName" value="HireIntelligence"/>
	<variable name="baseLogFolder" value="${basedir}/logs"/>
	<variable name="envInfo" value="${appName}"/>
	<variable name="VerboseLayout" value="${longdate} ${envInfo} ${level:upperCase=true} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
	<targets>
		<target name="file" xsi:type="File"
				layout="${VerboseLayout}"
				fileName="${baseLogFolder}/${siteName}${appName}.log.txt"
				archiveFileName="${baseLogFolder}/archives/${appName}.{#####}.log.txt"
				archiveAboveSize="1024000"
				archiveNumbering="Sequence" concurrentWrites="false" keepFileOpen="false" encoding="utf-8" maxArchiveFiles="20">
		</target>
	</targets>
	<rules>
		<logger name="*" writeTo="file" minlevel="Trace" maxlevel="Fatal"/>
	</rules>
</nlog>